@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: #2D3140;
}

mainsec {
    height: 1000px;
}

html {
    scroll-behavior: smooth;
}


@media screen and (min-width: 1024px) {
    #contact {
        margin-top: 75px;
    }

    #tarifs {
        margin-top: 75px;
    }

    #about {
        margin-top: 75px;
    }
}